<div class="success-msg success-msg--hidden">
    <div class="success-msg__body">
        <div class="success-msg__title">Сообщение отправлено</div>
        <div class="success-msg__text">В ближайшее время с Вами свяжутся наши специалисты</div>
    </div>
</div>
